button {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

button:active {
  scale: 85%;
}

button.logout {
  background-color: gray;
  color: white;
}

button.logout:hover {
  background-color: rgb(190, 190, 190);
}

button.logout:active {
  background-color: gray;
}
