.App {
  height: 100%;
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-columns: 1fr 1fr 350px;
  grid-template-areas:
    'nav nav nav'
    'main main side'
    'footer footer footer';
  background-color: #f5f5f5;
}
