#main {
  grid-area: main;
  overflow: scroll;
  height: 100%;
  padding: 20px;
}

#main > h1 {
  font-size: 30px;
}
#character-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
